<html><head>
  <meta charset="ISO-8859-1">
  <title>Sample</title>
  
  
  
  <!-- jQuery 2.2.3 -->
  <script src="D:/WheeboxUi/Angular/src/assets/js/jquery-2.2.3.min.js"></script>
  <link rel="stylesheet" href="D:/WheeboxUi/Angular/src/app/app.component.css">	
  
  
  <script src="D:/WheeboxUi/Angular/src/assets/js/RTCMultiConnection.min.js"></script>
  
  <script src="D:/WheeboxUi/Angular/src/assets/js/socket.io.js"></script>
          
  <!-- custom layout for HTML5 audio/video elements -->
  <script src="D:/WheeboxUi/Angular/src/assets/js/getHTMLMediaElement.js"></script>
  
  
   </head> 
  <body onload="startClentLiveVideoStreaming()">     
  <div style="display:none">
    <canvas id="canvas" width="320" height="240"></canvas>
    </div>  
  <input type="hidden" name="chatid" id="chatid" value="">
  <div id="chatURL" style="display: none">wss://akschat.wheebox.com/</div>  
  <input type="hidden" name="key_sno" id="key_sno" value="3088993"> 
  
     <input type="hidden" name="fname" id="fname" value="Amardeep Demo"> 
            
  <div class="footerchat" id="chatBoxMainDiv" style=""> 
       
  <div id="divChat">          
  <div id="nmag"></div>  		                          
      <div id="chatHeader" style="cursor: pointer;border-radius: 5px 5px 0px 0px; ">Chat Box (Amardeep Demo) <div id="MPicone" style="float:right">-</div> </div>
        
        
      <div id="showchat" style="display: block;">                     
      <div id="chat-area"><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="right"><tbody><tr><td align="right"><img src="src\assets\Images\icon_admin.png" style="width:30px"></td><td style="background:#00b0f0;padding:5px !important;border-radius: 7px;color:white;"><table style="width:100%"><tbody><tr><td><b>proctor1</b></td><td align="right"><b>13:11:00</b></td></tr> <tr><td><div>Announcement: hello2345</div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="https://statiswheebox.z29.web.core.windows.net/wet1-wbox/assest/images/icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>13:23:43</b></td></tr> <tr><td><div>11
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="src\assets\Images\icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>17:40:33</b></td></tr> <tr><td><div>11
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="src\assets\Images\icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>18:17:48</b></td></tr> <tr><td><div>1
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="src\assets\Images\icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>16:31:10</b></td></tr> <tr><td><div>Hi
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="src\assets\Images\icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>16:11:56</b></td></tr> <tr><td><div>Hi
  
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="right"><tbody><tr><td align="right"><img src="src\assets\Images\icon_user.jpg" style="width:30px"></td><td style="background:#00b0f0;padding:5px !important;border-radius: 7px;color:white;"><table style="width:100%"><tbody><tr><td><b>proctor1</b></td><td align="right"><b>16:16:49</b></td></tr> <tr><td><div>joijoi
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="src\assets\Images\icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>14:33:10</b></td></tr> <tr><td><div>Demo msg
  </div></td></tr></tbody></table> </td></tr></tbody></table><table style="width:88%;border-collapse:unset;border-spacing:10px;" align="left"><tbody><tr><td align="right"><img src="src\assets\Images\icon_user.jpg" style="width:30px"></td><td style="background:#eeeeee;padding:5px !important;border-radius: 7px;"><table style="width:100%"><tbody><tr><td><b>Amardeep Demo</b></td><td align="right"><b>14:51:53</b></td></tr> <tr><td><div>hi
  </div></td></tr></tbody></table> </td></tr></tbody></table></div>
  <form id="send-message-area" style="line-height:1.30;"> 
  <textarea id="msg" style="width: 100%;height:60px" placeholder="Message Type and Enter To Send"></textarea>
  </form>            
  
  </div>       
   
  </div>
  </div>
    <script src="D:/WheeboxUi/Angular/src/assets/js/userChat.js"></script>      
    
  <input type="hidden" name="msgReader" id="msgReader" value="">
  
  
   <script src="D:/WheeboxUi/Angular/src/assets/js/paasscript1.js"></script> 
  <!-- <script src="../../../assest/paas/paasscript1.js"></script>
  <script src="../../../assest/paas/detectnoise.js"></script> -->
  <script src="D:/WheeboxUi/Angular/src/assets/js/detectnoise.js"></script>
  <div id="WBcameraCercleBox" style="">
   
    <div id="streaming-camera-circle" class="icon">
         <!--  <div id="chat-overlay"></div> -->  
  <div class="icon-3"> 
    <div class="camera-icon">
       <div class="camera-circle"></div>  
       <div class="camera-btn"></div>
    </div></div>
       
    </div>        
        
     
    <div class="streaming-box">   
      <div class="streaming-box-header">          
        <span class="streaming-box-toggle" style="width:270px;" align="right"><i class="material-icons" style="font-weight: bold;">-</i></span>
      </div>     
      <div class="streaming-box-body">
        <div class="streaming-box-overlay">   
        </div> 
        <div class="streaming-logs">
                    
           <div class="video-form-container">    
        <div style="text-decoration:none;" id="videos-container"></div>    
        </div>  
     
        </div>
      </div>  
      <!--  Saroj Start -->
      <div class="streaming-box-footer" id="subjective_doc_upload_using_webcam" style="display: none;">        
        <button type="button" class="btn btn-blue" onclick="takeSubjectiveDocumentPhoto();">Take Photo</button>
      </div> 
  <!--  Saroj End --> 
    </div>
    </div>
     
      
   
        <label style="display:none"><input type="checkbox" id="record-entire-conference"> Record Entire Conference In The Browser?</label>
        <span id="recording-status" style="display: none;"></span>
        <button id="btn-stop-recording" style="display: none;">Stop Recording</button>
         
        <div style="display:none"> 
        <input type="text" id="room-id" autocorrect="off" autocapitalize="off" size="20">
        <button id="open-room">Open Room</button>
        </div>
           
        <button id="join-room" style="display:none">Join Room</button>
        <button id="open-or-join-room" style="display:none">Auto Open Or Join Room</button> 
               
      
      <div id="room-urls" style="text-align: center;display: none;background: #F1EDED;border: 1px solid rgb(189, 189, 189);border-left: 0;border-right: 0;"></div>
   
   
    
  
  
    <script src="D:/WheeboxUi/Angular/src/assets/js/paasscript.js"></script>
    
  <script>
  // ......................................................
  // .......................UI Code........................
  // ......................................................
  
   
  
   
   
  /* var userdetail={
      "student_unique_id": "amar",
      "event_id": "testevent",
      "attemptnumber": 1
    }; */ 
  //var udetail={"student_unique_id":"amardeep","student_name":"Amardeep Mishra","attemptId":7142};
  //var udetail={"student_unique_id":"amardeep","student_name":"Amardeep Mishra","attemptId":2201338}; 
  //var udetail={"student_unique_id":"amarmishra.wheeboxtesting","student_name":"Amar","attemptId":3047697};
  //var udetail={"student_unique_id":"amarmishra.wheeboxtesting2","student_name":"Amar","attemptId":3051612};
  
  //var udetail={"student_unique_id":"amarmishra.demo","student_name":"Amardeep Demo","attemptId":3071686};
  var udetail={"student_unique_id":"amarmishra.demo3","student_name":"Amardeep Demo","attemptId":3088993};
  
  function startClentLiveVideoStreaming(){
    //alert(udetail.attemptId);
    key_sno=udetail.attemptId; 
    
    document.getElementById("fname").value=udetail.student_name;
    document.getElementById("room-id").value=key_sno;
    document.getElementById("key_sno").value=key_sno;
     
    document.getElementById("open-room").click();
    connectionwsGet1(3000);   //start chating thread now and getting chat messages from server.  
    startProctoringThread(5000,true,true,'ea82252a-4df9-4bcb-be50-b88cbd7a36b8',udetail);  // This function needs to be called once when test starts.
    
    
  }
  </script>
    
    
  <!-- images capture  -->
  <div id="metervalue" style="display: none;"></div>
  
  
  </body></html>